.btn1 {
  background-color: #c9e46b; /* Green */
  font-size: 16px;
  border: none;
  color: white;
  padding: 20px 30px; /* px distance between the margin of the button and the text inside */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}